In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine('sqlite:///prueba.sqlite')

In [3]:
from sqlalchemy import MetaData
metadata = MetaData()

In [4]:
from sqlalchemy import (Table, Column, String, Integer, Float, Boolean)

In [5]:
# Define a new table with a name, count, amount, and valid column: data
data = Table('data', metadata,
             Column('name', String(255), unique=True),
             Column('count', Integer(), default=1),
             Column('amount', Float()),
             Column('valid', Boolean(), default=False)
)

employees = Table('employees',metadata,
                 Column('id',Integer(), unique=True),
                 Column('name',String(255)),
                 Column('salary',Float()),
                 Column('active',Boolean())
)

In [6]:
# Use the metadata to create the table
metadata.create_all(engine)

In [7]:
print(repr(metadata.tables['data']))

Table('data', MetaData(bind=None), Column('name', String(length=255), table=<data>), Column('count', Integer(), table=<data>, default=ColumnDefault(1)), Column('amount', Float(), table=<data>), Column('valid', Boolean(), table=<data>, default=ColumnDefault(False)), schema=None)

In [8]:
connection = engine.connect()

In [13]:
from sqlalchemy import insert

stmt = insert(employees).values(id=1,name='Jason',salary=1.00, active=True)
result_proxy = connection.execute(stmt)
stmt = insert(employees).values(id=1,name='Joaquin',salary=1.00, active=True)
result_proxy = connection.execute(stmt)


print(result_proxy.rowcount)

1

In [14]:
stmt = 'SELECT * FROM employees'

result_proxy = connection.execute(stmt)

results = result_proxy.fetchall()

print(results)

[(1, 'Joaquin', 1.0, 1), (1, 'Jason', 1.0, 1), (1, 'Joaquin', 1.0, 1)]